@charset "utf-8";

body {
    background-color: #f6f5f5;
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}

.home {
    width: 100%;
    height: 95vh;
    background-image: url("../img/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.model {
    height: 500px;
    position: absolute;
    bottom: 38px;
    left: 75%;
    transform: translateX(-75%);
}

.about {
    width: 78%;
    height: 450px;
    border-radius: 20px;
    margin: -3% auto 20px auto;
}

.schedule {
    background-color: #f5f5f5;
}

footer p {
    font-family: calibri;
}

footer p:nth-child(1) {
    font-size: 30px;
    font-weight: bold;
    color: #191919;
    line-height: 10px;
}

footer p:nth-child(2) {
    font-size: 18px;
    color: #7e7d7d;
    width: 600px;
    text-align: center;
}

footer {
    height: 300px;
    flex-direction: column;
}

.social-icons a {
    width: 40px;
    height: 40px;
    margin: 20px 10px;
    border-radius: 50%;
}

.social-icons a:hover {
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}
